// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$base_color: #790604;

body{
  margin:0;
  padding:0;
}
h2{
  margin: 0;
}
p{
  margin: 0px;
}
.fa-thumbs-up{
  padding-left: 25px;
  color: #BBBBBB;
}
.fa-comment-dots{
  padding-left: 25px;
  color: #BBBBBB;
}
.container{
  width:100%;
  min-height: calc(100vh - 120px);
  padding-top:40px;
}
.header__image{
  background-image:url("田舎.jpg");
  background-size:  cover;
  background-position: 60% 30%;
  height: 600px;
}
.category__title{
  text-align: center;
  border-bottom: 1px solid gray;
  padding-top: 30px;
  padding-bottom: 20px;
  margin: 0 300px;
}
.container_main{
  width: 80%;
  min-height: calc(100vh - 120px);
  margin: auto;
}
.articles{
  width: 100%;
  height:100%;
  padding: 20px;
  box-sizing: border-box;
}
.article{
  height: 100px;
  border-bottom:1px solid #EEEEEE;
  display:flex;
  padding:10px;
  &__user__image{
    width: 70px;
    height: 70px;
  }
}
.article:hover{
  background-color: #FFEEFF;
}
.article_content h2{
  text-align: center;
  margin: 0;
}
.article_content{
  width: 100%;
  padding-left:20px;
  padding-top: 5px;
  position: relative;
  &__title{
    text-decoration: none;
    color: black;
  }
  &__title:hover{
    border-bottom: 1px solid black;
  }
  &_text{
    text-align: center;
    padding-top: 20px;
    color: #BBBBBB;
  }
  &__option{
    position: absolute;
    bottom:0;
    display: flex;
    font-size: 15px;
    color:#BBBBBB;
    &__user_name{
      text-decoration: none;
      color:#BBBBBB;
    }
    &__user_name:hover{
      border-bottom: 1px solid #BBBBBB;
    }
    &__created_at{
      padding-left: 10px;
    }
  }
}
.pagination{
  display:flex;
  justify-content:center;
  list-style: none;
}
li{
  padding: 0 10px;
}

.tab-group{
  display: flex;
  justify-content: center;
  padding: 0;
}
.tab{
  flex-grow: 1;
  padding:5px;
  list-style:none;
  border:solid 1px #CCC;
  text-align:center;
  cursor:pointer;
}
.panel-group{
  height:100px;
  border:solid 1px #CCC;
  border-top:none;
  background:#eee;
}
.panel{
  display:none;
}
.tab.is-active{
  background:#F00;
  color:#FFF;
  transition: all 0.2s ease-out;
}
.panel.is-show{
  display:block;
}