.input-title-field{
  width: 100%;
  height: 40px;
  font-size: 30px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.input-content-field{
  width: 100%;
  height: 100vh;
  border-radius: 5px;
  resize: none;
}
.btn-field{
  text-align: center;
  margin-top: 30px;
}
.send{
  border-radius: 5px;
  color: #790604;
  border: 1px solid #790604;
}
.send:hover{
  color: white;
  background-color: #790604;
  cursor: pointer;
}