<div class="header__image">
  <div class="app-title-field">
    <p class="app-title">application</p>
  </div>
</div>
<h1 class="category__title"><%= @category.category_name %></h1>
<div class="container">
  <div class="container_main">
    <div class="articles">
      <%= render @articles %>
      <%= will_paginate @articles, :param_name => 'page', :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
    </div>
  </div>
</div>