<%= render 'shared/header' %>
<div class="container">
  <div class="container_main">
    <div class="articles">
      <%= render @articles %>
    </div>
    <%= will_paginate @articles, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
  </div>
</div>