<div class="header">
  <h2>appilcation</h2>
</div>
<div class="container">
  <div class="container-main">
    <form>
      <div>
        <input class="input-title-field" type="text" placeholder="タイトルを入力">
      </div>
      <textarea class="input-content-field" placeholder="内容の入力"></textarea>
      <div class="btn-field">
        <input type="submit" class="send" value="作成">
      </div>
    </form>
  </div>
</div>