<div class="header">
  <h2>appilcation</h2>
</div>
<div class="container">
  <div class="container-main">
    <div class="article_header">
      <h1 class="article_title"><%= @article.title %></h1>
      <div class="option">
        <%= link_to "編集", edit_article_path, class: "article_edit" %>
        <%= link_to "削除", article_path, class: "article_delete", method: :delete %>
      </div>
    </div>
    <div class="article_content">
      <%= @article.content %>
    </div>
  </div>
</div>