$base_color: #790604;
.fa-search{
  position: absolute;
  left: 198px;
  font-size: 14px;
  top: 37px;
  color: black;
}
.header{
  background-color: $base_color;
  height: 80px;
  display:flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  &__search_area{
    padding-right: 20px;
    height: 20px;
    width: 180px;
    position: absolute;
    left: 10px;
    top: 30px;
    border-radius: 3px;
  }
  &__app_title{
    color: white;
    text-decoration: none;
  }
  &__new_article{
    color: white;
    text-decoration: none;
    position: absolute;
    right: 70px;
    font-size: 10px;
  }
  &__new_account{
    color: white;
    text-decoration: none;
    position: absolute;
    right: 10px;
    font-size: 10px;
  }
  &__my_page{
    color: white;
    text-decoration: none;
    position: absolute;
    right: 130px;
    font-size: 10px;
  }
  &__new_article:hover{
    border-bottom: 1px white solid;
  }
  &__new_account:hover{
    border-bottom: 1px white solid;
  }
  &__my_page:hover{
    border-bottom: 1px white solid;
  }
}
