$base_color: #790604;

.fa{
  line-height: 3;
}
.fa-search{
  font-size: 10px;
  text-decoration: none;
}
.header__image{
  background-image:url("猫.jpeg");
  background-size:  cover;
  background-position: 60% 30%;
  height: 600px;
}
.header__navi{
  background-color: #EEEEEE;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 30px;
  font-weight: 900;
}
.header__navi__sub{
  display: flex;
  justify-content: space-around;
  line-height: 3;
}
.navi-title{
  text-align: center;
  padding-top: 10px;
}
.search_area{
  display: flex;
  justify-content: center;
  padding: 30px 0;
  position: relative;
  line-height: 30px;
}
.header__app_title{
  text-decoration: none;
}
.header__new_article{
  text-decoration: none;
  font-size: 10px;
  line-height: 30px;
}
.header__new_account{
  text-decoration: none;
  font-size: 10px;
  line-height: 30px;
}
.header__my_page{
  text-decoration: none;
  font-size: 10px;
  line-height: 30px;
}
.fa-search:hover{
  border-bottom: 1px gray solid;
}
.header__new_article:hover{
  border-bottom: 1px gray solid;
}
.header__new_account:hover{
  border-bottom: 1px gray solid;
}
.header__my_page:hover{
  border-bottom: 1px gray solid;
}
.no_article_msg{
  text-align: center;
  color: red;
}
.search_send{
  border-radius: 3px;
  position: absolute;
  right: 156px;
}
.search_keyword{
  border-radius: 3px;
  position: absolute;
  left: 190px;
}
.category_select{
  position: absolute;
  left: 73px;
}
.application_title{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Impact';
  line-height: 30px;
}