<%= render 'shared/header' %>
<div class="user_page">
  <div class="user_show_main">
    <div class="user_image_field">
      <img class="user_show_image" src="#">
    </div>
    <div class="user_name"><%= @user.nickname %></div>
    <div class="user_pr_field">
      <div class="user_pr_title">自己紹介</div>
      <p class="user_pr_content">こんにちは</p>
    </div>
  </div>
</div>