.login_container{
  display: flex;
  justify-content: center;
  background-color: #790604;
  height: 100vh;
}
.login_container_main{
  width: 60%;
  margin: 40px 0;
  background-color: white;
}
.page_title{
  text-align: center;
  padding: 30px 0;
}
.email_field{
  height: 30px;
  width: 80%;
  border-radius: 3px;
}
.password_field{
  height: 30px;
  width: 80%;
  border-radius: 3px;
}
.field{
  text-align: center;
  margin: 30px 0;
}
.actions{
  text-align: center;
}
.send_btn{
  border-radius: 3px;
}
.link{
  text-decoration: none;
  color: gray;
  display: block;
}



.user_page{
  background-color: #790604;
  display: flex;
  justify-content: center;
}
.user_show_main{
  background-color: white;
  height: 100vh;
  width: 80%;
}
.user_image_field{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.user_show_image{
  width: 300px;
  height: 300px;
  border: 1px solid black;
}
.user_name{
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
}
.user_pr_field{
  margin: 30px 30px;
}
.user_pr_title{
  background-color: #EEEEEE;
  text-align: center;
}
.user_pr_content{
  padding:30px 40px 0;
}
.appeal_field{
  height: 200px;
  width: 100%;
  margin-top: 30px;
  resize: none;
  border-radius: 3px;
}
.user_nickname_field{
  font-size: 30px;
  text-align: center;
  padding-right: 30px;
}
.user_nickname_label{
  font-size: 15px;
}
.user_image_upload{
  width: 300px;
  padding-top: 5px;
}