.login_container{
  display: flex;
  justify-content: center;
  background-color: #790604;
  height: 100vh;
}
.login_container_main{
  width: 60%;
  margin: 40px 0;
  background-color: white;
}
.page_title{
  text-align: center;
  padding: 30px 0;
}
.email_field{
  height: 30px;
  width: 80%;
  border-radius: 3px;
}
.password_field{
  height: 30px;
  width: 80%;
  border-radius: 3px;
}
.field{
  text-align: center;
  margin: 30px 0;
}
.actions{
  text-align: center;
}
.send_btn{
  border-radius: 3px;
}
.link{
  text-decoration: none;
  color: gray;
  display: block;
}



.user_page{
  display: flex;
  justify-content: center;
}
.user_show_main{
  margin-top: 50px;
  box-shadow:5px 5px;
  border:1px solid #000;
  min-height: 700px;
  width: 80%;
}
.user_image_field{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.user_show_image{
  width: 300px;
  height: 300px;
  border: 1px solid black;
}
.user_name{
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
}
.user_pr_field{
  margin: 30px 30px;
}
.user_pr_title{
  background-color: #EEEEEE;
  text-align: center;
}
.user_pr_content{
  padding:30px 40px 0;
}
.appeal_field{
  height: 200px;
  width: 100%;
  margin-top: 30px;
  resize: none;
  border-radius: 3px;
}
.user_nickname_field{
  font-size: 30px;
  text-align: center;
  padding-right: 30px;
}
.user_nickname_label{
  font-size: 15px;
}
.user_image_upload{
  width: 300px;
  padding-top: 5px;
}
.twitter_login_field{
  display: flex;
  justify-content: center;
}
.twitter_login_link{
  background-color: #1da1f2;
  color: white;
  padding: 10px;
  border-radius: 3px;
  text-decoration: none;
}
.twitter_login_msg{
  padding-left: 10px;
  font-weight: bold;
}
.error_explanation{
  text-align:center;
}
div[class^="ModalLayer_"] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: opacity 0.65s;
  pointer-events: none;
  opacity: 0;
  z-index: 10000;
}
div[class^="ModalLayer_"].isShow {
  transition: opacity 0.65s;
  pointer-events: auto;
  opacity: 1;
}
div[class^="ModalLayer-Mask"] {
  position: absolute;
  background: rgba(123,123,123,0.5);
  width: 100%;
  height: 100vh;
}
.ModalLayer-Inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 500px;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
  .ModalLayer-Inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.ModalSection {
  background: #fff;
}
.Modal-Inner {
  border-top: 3px solid #5bc8ac;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  max-width: 500px;
}
.Modal-Inner-Headline {
  text-align: center;
  font-size: 24px;
}
.Modal-Inner-Text {
  text-align: center;
}