// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  margin:0;
  padding:0;
}
h2{
  margin: 0;
}
.header{
  background-color: #790604;
  height: 80px;
  display:flex;
  justify-content: center;
  align-items: center;
  color: white;
}