// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  margin: 0;
}
footer{
  background: WindowText;
  color: white;
  height: 200px;
  text-align: center;
  line-height: 12;
}
.content__main{
  margin-top: 100px;
  margin-bottom: 200px;
}
.content__title{
  text-align: center;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  margin: 0 300px;
}
.header__image{
  background-image:url("猫.jpeg");
  background-size:  cover;
  background-position: 60% 30%;
  height: 600px;
}
.header__navi{
  background-color: #EEEEEE;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 60px;
}
.header__navi__sub{
  display: flex;
  justify-content: space-around;
  line-height: 3;
}
.navi-title{
  text-align: center;
}
.row{
  margin: 50px 50px;
  display: flex;
  justify-content: space-around;
}
.category-link{
  text-decoration: none;
}
.col{
  height: 220px;
  width: 250px;
  border: 1px solid gray;
}
.category-name{
  text-align: center;
}
.app-title-field{
  background-color: rgba(0,0,0,0.3);
  height: 400px;
  width: 300px;
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 10px;
}
.app-title{
  font-size: 30px;
  text-align: center;
}