<%= render 'shared/header' %>
<h1 class="page_title">カテゴリー一覧</h1>
<div class="container">
  <div class="container_main">
    <div class="add_category">
      <a href="#">カテゴリー追加<i class="far fa-plus-square"></i></a>
    </div>
    <div class="category">
      <%= image_tag '猫.jpeg', class: "category__image", size: '250x150' %>
      <h1 class="category__name">カテゴリー名</h1>
      <div class="category__content">
        <table>
          <tr>
            <td style="text-align:right;"><b>記事数</b></td>
            <td>1</td>
          </tr>
          <tr>
            <td style="text-align:right;"><b>カテゴリー作成日</b></td>
            <td>2020/01/01</td>
          </tr>
          <tr>
            <td style="text-align:right;"><b>最終更新日</b></td>
            <td>2020/04/21</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="category">
      <%= image_tag '猫.jpeg', class: "category__image", size: '250x150' %>
      <h1 class="category__name">カテゴリー名</h1>
      <div class="category__content">
        <table>
          <tr>
            <td style="text-align:right;"><b>記事数</b></td>
            <td>1</td>
          </tr>
          <tr>
            <td style="text-align:right;"><b>カテゴリー作成日</b></td>
            <td>2020/01/01</td>
          </tr>
          <tr>
            <td style="text-align:right;"><b>最終更新日</b></td>
            <td>2020/04/21</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="category">
      <%= image_tag '猫.jpeg', class: "category__image", size: '250x150' %>
      <h1 class="category__name">カテゴリー名</h1>
      <div class="category__content">
        <table>
          <tr>
            <td style="text-align:right;"><b>記事数</b></td>
            <td>1</td>
          </tr>
          <tr>
            <td style="text-align:right;"><b>カテゴリー作成日</b></td>
            <td>2020/01/01</td>
          </tr>
          <tr>
            <td style="text-align:right;"><b>最終更新日</b></td>
            <td>2020/04/21</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>