<%= render 'shared/header' %>
<h1 class="page_title">カテゴリー追加</h1>
<div class="container">
  <div class="container_main">
    <div class="category_image_field">
      <img src="猫.jpeg" height="300" width="500">
    </div>
    <div class="category_name_field">
      <input type="text" class="category_name" placeholder="カテゴリー名を入力してください">
      <button href="#" class="category_new_sender">作成</button>
    </div>
  </div>
</div>