<%= render 'shared/header' %>
<h1 class="page_title">カテゴリー追加</h1>
<div class="container">
  <div class="container_main">
    <div style="text-align:center;padding-bottom:30px;">
      <img src="猫.jpeg" height="300" width="500">
    </div>
    <div style="display:flex;justify-content:center;flex-direction:column;align-items:center;">
      <input type="text" class="category_name" placeholder="カテゴリー名を入力してください" style="border-radius:3px;width:50%;height:30px;font-size:20px;margin-bottom:30px;">
      <button href="#" style="border-radius:3px;width:50px;">作成</button>
    </div>
  </div>
</div>